<div class="customBackgroundLogin">
    <div class="container">
      <div class="form-group">
        <div class="row customCardContent">
          <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="contentConfig">
      <button class="buttonConfig">
        <span>
          <i class="fas fa-cog fa-xs" style="cursor: pointer;"></i>
        </span>
      </button>
    </div>
    <div class="footer">
      <p>COPYRIGHT © CENTRIX 2022. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
  </div>
  